{% extends 'base.html' %}


{% block title %}
    View list
{% endblock title %}


{% block content %}
    <div class="container mt-3">
        {% include 'alert.html' %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table id="table_id"  class="table tb">
                    <thead>
                        <th> ID  </th>
                        <th> Name  </th>
                        <th> Email  </th>
                        <th> Action  </th>
                    </thead>
                    <tbody>
                        
                        {% for member in members %}
                    <tr>        
                        <td>{{member.id}}</td>
                        <td>{{member.name}}</td>
                        <td>{{member.email}}</td>
                        <td>
                            <a href="{{member.id}}/update">Update</a>
                            <a href="{{member.id}}/delete" data-bs-toggle="modal"  data-bs-toggle="modal" data-bs-target="#delete{{member.id}}" >Delete</a>
                        </td>
                    </tr>
                        <!-- Modal -->
                        <div class="modal fade" id="delete{{member.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="/{{member.id}}/delete" method="POST" >
                                    <div class="modal-body">
                                    Are you sure you want to delete <span class="delete-name">{{member.name}}</span> from the records?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href=""><button type="submit" class="btn btn-danger">Delete</button></a>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
                <a id="download" class="btn btn-success" href="">Download report</a>
            </div>
            
            <div class="col-md-2"></div>
        </div>
    </div> 
    <script src="{{url_for('static', filename='js/table2excel.js')}}"></script>
<script>
    document.getElementById('download').addEventListener('click',function(){
        var table2excel = new Table2Excel();
        table2excel.export(document.querySelectorAll('.tb'));
    });
</script>

{% endblock content %}
    
    