{% extends 'base.html' %}


{% block title %}
    View list
{% endblock title %}


{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table id="table_id"  class="table tb">
                    <thead>
                        <th> ID  </th>
                        <th> Name  </th>
                        <th> Email  </th>
                    </thead>
                    <tbody>
                        
                        {% for member in members %}
                    <tr>        
                        <td>{{member.id}}</td>
                        <td>{{member.name}}</td>
                        <td>{{member.email}}</td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a id="download" class="btn btn-success" href="">Download report</a>
            </div>
            
            <div class="col-md-2"></div>
        </div>
    </div> 
    <script src="{{url_for('static', filename='js/table2excel.js')}}"></script>
<script>
    document.getElementById('download').addEventListener('click',function(){
        var table2excel = new Table2Excel();
        table2excel.export(document.querySelectorAll('.tb'));
    });
</script>

{% endblock content %}
    
    